.container{
    margin: 0 auto;
    min-height: 85vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 100px;
    @media (max-width: 768px) 
    {
        width: 100%;  
        padding: 0 15px;  
        padding-bottom: 100px;
    }
}

.title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: 10%;
    padding-top: 15px;
    margin: 0 0 10px 0;
    color: #010d72;
}

.examiner__info{
    height: 150px;
    width: 100%;
    display: flex;
    border-bottom: 3px solid #0a1668;

    &:nth-child(1){
        border-top: none;
    }
    &:nth-last-child(1){
        border-bottom: none;
    }
}

.examiner__image{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    img{
       height: 100%;
       width: 40%;
       border-radius: 50%; 

       @media (max-width: 768px) {
        height: 70%;
        width: 80%;
       }
    }

    
}

.examiner__content{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p{
        font-size: 30px;
        font-weight: 700;
        
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
}



