.home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll; /* Tạo thanh cuộn dọc */
    overflow-x: hidden; 
    padding: 5px;
    
}

.home__left{
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255, 0.85);
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    img{
        
        height: 100%;
        width: 100%;
    }

    @media (max-width:768px) {
        display: none;
        
    }
}

.home__right{
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: auto;
    p{
        width: 80%;
        .title{
            width: 100%;
            font-size: 30px;
            text-align: center;
            font-weight: 700;
        }
    }

    span{
        padding-bottom: 20px;
    }
    @media (max-width:768px) {
        width: 100%;
        padding: 0 20px;
    }
    
}

.highlight{
    font-weight: 700;
}