.home{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.home__left{
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255, 0.9);
    overflow: hidden;
    img{

        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.home__right{
    width: 40%;
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        width: 80%;
    }
}

.highlight{
    font-weight: 700;
}