.home{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.home__left{
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255, 0.85);
    overflow: hidden;
    display: flex;
    align-items: center;
    img{
        
        height: 100%;
        width: 100%;
    }
}

.home__right{
    width: 40%;
    background-color: rgb(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;

    p{
        width: 80%;
        .title{
            width: 100%;
            font-size: 30px;
            text-align: center;
            font-weight: 700;
        }
    }
}

.highlight{
    font-weight: 700;
}