.container{
    margin: 0 auto;
    min-height: 100%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    @media (max-width: 768px) 
    {
        width: 100%;  
        padding: 0 15px;  
    }
}

.title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: 10%;
    padding-top: 15px;
    margin: 0;
    color: #010d72;

    @media (max-width:768px) {
        font-size: 25px;
    }
}

.info{
    height: 200px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
    &:nth-child(1){
        border-top: 2px solid black;
        margin-top: 0;
    }

    @media (max-width:768px) {
        font-size: 13px;

        height: 120px;
        width: 100%;
    }
}

.service__image{
    height: 100%;
    width: 18%;

    img{
        height: 100%;
        width: 100%;
    }

    @media (max-width:768px) {
        width: 25%;
    }


}

.service__content{
    height: 100%;
    width: 82%;
    display: flex;

    @media (max-width:768px) {
        display: block;
    }
}

.service__info{
    height: 100%;
    width: 75%;

    @media (max-width:768px) {
        height: 75%;
        width: 100%;
    }

    .title{
        font-size: 25px;
        padding-top: 10px;

        
        @media (max-width:768px) {
            font-size: 16px;
        }
    }
}

.service__button{
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;

    a{
        box-sizing: border-box;
        padding: 3px;
        width: auto;
        height: 20%;
        background-color: rgb(17, 44, 111);
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-radius: 4px;
        display: flex;
        align-items: center;
        transition: 0.15s ease-in;

        &:hover{
            padding: 2px;
            width: auto;
            background-color: #0553d0;
            text-decoration: none;
            color: rgb(249, 249, 249);
            border-radius: 4px;
            font-size: 18px;
            box-shadow: 0px 10px 15px black;
        }

        @media (max-width: 768px) {
            height: 90%;
        }
    }

    @media (max-width:768px) {
        height: 25%;
        width: 100%;
    }

}

.info__detailed{
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
    padding: 0 4px;
    box-sizing: border-box;

    @media (max-width:768px) {
        font-size: 11.5px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}