header{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0a1688, transparent);

}

.header__logo{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        width: 30%;
    }

}

.logo{
    height: 90%;
    width: 200px;
    transition: 0.2s ease-in;

    @media (max-width: 1280px){
        height: 70%;
        width: 120px;
    }

    @media (max-width:768px){
        height: 60%;
        width: 120px;
        padding-left: 20px;
    }
}

.header__menu{
    height: 100%;
    width: 62%;
    padding: 0px 15px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .menu__link{
        color: white;
        font-weight: 700;
        text-decoration: none;
    }

    @media (max-width:768px){
        padding: 0px 0px 0 0px;
        width: 50%;
    }
}

.menu__button{
    position: relative;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    background-color:	transparent ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;


    @media (max-width: 1280px){
        height: 45px;
        width: 100px;
    }

    @media (max-width: 1080px){
        height: 40px;
        width: 80px;
    }

    @media (max-width: 768px) {
        display: none;
    }

    .home {
        width: 180px;
        top: 108%;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #0a1688;
        position: absolute;
        z-index: 2;
        transform-origin: top center;
        animation: homeAnimation ease-in 0.2s;
        display: none;
        cursor: auto;
        border-radius: 3px;
        border: 3px solid white;

        &::after{
            content: "";
            position: absolute;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
            height: 12px;
            width: 130px;
            cursor: auto;
            // display: none;
        }

        .menu__link{
            border-bottom: 2px solid white;
            padding: 10px;
            display: block;
            width: 100%;
            color: white;
            box-sizing: border-box;
            overflow: hidden;
            transition: 0.15s ease-in;

            &:nth-last-child(1){
                border-bottom: none;
            }

            &:hover{
                background-color: #FF6600;
                color: white;
                
            }
            
        &:focus-within{
            background-color: #FF6600;
        }

        }

    }

    &:hover .home{
        opacity: 1;
        display: block;
    }

    &:focus-within{
        background-color: #FF6600;
        box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.5);
    }

    p{
        font-size: 22px;
        transition: 0.15s ease-in;

        @media (max-width: 1280px){
            font-size: 18px;
        }

        @media (max-width: 1080px){
            font-size: 14px;
        }
    }

}

.button__fix{
    width: 120px;
    text-align: center;

}

@keyframes homeAnimation{
    from{
        opacity: 0;
        transform: translateX(-50%) scale(0);
        
    } to{
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

.menu__button:hover{
    background-color: #FF6600	;
    box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.5);
}

.menu__collapse{
    display: none;
    @media (max-width:768px) {
        display: block;
        
    }
}

    
.menu__mobile{
 
    height: auto;
    width: 400%;
    margin-top: 10px;
    transition: 0.2s ease-in;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #0a1688;   
    z-index: 2;
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
}

.menu__icon{

    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: 0.15s ease-in;
    position: relative;


    &:hover{
        background-color: #FF6600;
    }

    &:focus-within{
        background-color: #FF6600;
    }
}

.menu__mobile--link{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid white;
    &:nth-last-child(1){
        border-bottom: none;
    }
    &:focus-within{
        background-color: #FF6600;

    }

}

.button__mobile{
    
    padding: 3px 0 0px 0;
    box-sizing: border-box;
    border-bottom: 2px solid white;  
    transition: 0.15s ease-in;

    &:hover{
        background-color: #8c3d08;
    }
    &:focus-within{
        background-color: #FF6600;

    }

}


.button__mobile--name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    color:white;
    &.button__mobile--fix{
        width: 100%;
        height: 25px;
        box-sizing: border-box;
    }

}

@keyframes slideDown {
    from {
      max-height: 0;
    }
    to {
      max-height: 500px; // Hoặc chiều cao cụ thể của nội dung
    }
  }


.title__button{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    width: 100%;
    
    p:nth-child(2){
        box-sizing: border-box;
        padding: 5px 5px 0 3px;

    }
}

.home__mobile{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    animation: slideDown 0.5s ease-in-out forwards;
    background-color: rgb(2, 47, 196);
    
    .menu__link{
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 13px;
        width: 100%;
        border-top: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        font-size: 200;
        box-sizing: border-box;
        padding: 5px 0 5px 10px ;
        transition: 0.15s ease-in;

        &:hover{
            background-color: #030f77;
        }

        &:focus-within{
            background-color: #0a1688;
        }


        &:nth-child(1){
            border-top: 2px solid rgb(255, 255, 255);
        }
        &:nth-last-child(1){
            border-bottom: none;
        }
    }
}
