footer{
    margin-top: auto;
    padding: 10px 10px 0 10px;
    background: rgb(255, 255, 255, 0.7);
    box-sizing: border-box;
    overflow: hidden;
}
.footer__top{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer__section{
    width: 30%;
    padding: 0 10%;

}

.info__top{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    p{
        padding: 0;
        margin: 0;
        font-size: 25px;
        font-weight: 700;

        @media (max-width: 768px) {
            font-size: 15px;
        }
    }
}

.info__contact{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
    padding-left: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    box-sizing: border-box;

    p{  
        padding: 0;
        margin-left: 10px;
        transition: 0.15s ease-in;
        @media (max-width: 768px) {
            font-size: 18px;
        }

        @media (max-width:590px) {
            font-size: 10px;
        }
    }

    @media (max-width: 768px) {
        padding-left: 0;
        margin-left: -20px;
        transform: translateX(10px);
    }

    @media (max-width: 490px) {
        padding-left: 0;
        margin-left: -20px;
        transform: translateX(10px);
    }
}


.social__top{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    p{
        padding: 0;
        margin: 0;
        font-size: 25px;
        font-weight: 700;
    }
}

.social__bottom{
    display: flex;
    justify-content: center;
}

.social{
    height: 40px;
    width: 100%;
    padding: 2px;
    margin: 2px;
    display: flex;
    align-items: center;

    p{
        color: white;
        margin-left: 10px;
    }
}


.icon{
    height: 30px;
    width: 30px;
    transition: 0.15s ease-in;
    @media (max-width:768px) {
        height: 25px;
        width: 25px;
    }

    @media (max-width:490px) {
        height: 15px;
        width: 15px;
    }
}


